$pink: #f5426f;

.About {
    &-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &-description {
            max-width: 25em;
        }
    }
}

.ImageList {
    width: 500px;
    height: 450px;

    &-icon {
        background-color: $pink;
        height: 70%;
        width: 75%;
        padding: 1em;
        padding-right: 1.2em;
        margin-left: 1em;
    }
}

.MuiImageList {
    &-root {
        padding: 1em !important;
        border: 1px solid $pink;
    }
}
