.LinkCard {
    &-content {
        height: 360px;
        background-color: white;
        color: black;
        border-radius: 0;
        width: 500px !important;
    }
}

@media only screen and (max-width: 680px) {
    .LinkCard-content {
        width: 300px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .LinkCard-content {
        width: 400px;
    }
}
