.ShortTextComponent {
    &-content {
        display: flex;
        justify-content: space-evenly;
        gap: 1em;
        padding: 3em;
        width: 100%;
        max-width: 400px;
        align-self: center;
        border-radius: 4px;
        background: url(../../assets/blood_deep_red.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: left;
    }

    &-date {
        margin: 1em 0;
    }

    &-image {
        width: 10%;
    }
}
