.Bagend {
    &-description {
        display: flex;
        align-items: center;
        margin: 2rem 0;
        gap: 15px;

        &-image {
            width: 30%;
            height: 100%;
        }
    }

    &-images {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &-imageWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-image {
                width: 70%;
                height: 70%;
            }
        }
    }
}

.MuiImageListItem {
    &-root {
        display: flex;
        align-items: center;
        line-height: 1.2 !important;
    }
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
    .Bagend-description {
        flex-direction: column-reverse;
    }
    .Bagend-description-image {
        width: 80%;
    }
    .Bagend-images {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
