.Journal-entry-date {
    color: primary;
    padding: 8;
    font-weight: bolder;
}

.Journal-entry-description {
    height: 100%;
}

.Journal-image {
    width: 100%;
}

.fade {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(
        to bottom,
        rgba(242, 242, 242, 0),
        rgba(242, 242, 242, 0.9) 100%
    );
}

/* Mui overrides  */

.MuiPickerStaticWrapper-root {
    height: 90%;
    width: 100% !important;
    min-width: 0 !important;
}

.MuiCalendarPicker-root {
    width: 80% !important;
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
    .MuiCalendarPicker-root {
        margin: 0 1em !important;
    }
}

/* For tablets: */
@media screen and (max-width: 900px) and (min-width: 600px) {
    .MuiPickerStaticWrapper-root {
        width: 50% !important;
    }
}
