.Links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.Links-list {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.Links-link-container {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.Links-link {
    text-decoration: none;
    color: black;
}

.Links-description {
    text-indent: 1em;
    text-transform: uppercase;
}

.image {
    width: 50%;
    max-width: 400px;
}
