.JournalEntryComponent {
    &-content {
        display: flex;
        padding: 4%;
        justify-content: space-between;
        gap: 2em;

        &-description {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 700px;
        }

        &-image {
            width: 35%;
            height: 100%;
            margin-top: 1em;
            max-width: 250px;
        }
    }
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
    .JournalEntryComponent-content {
        flex-direction: column-reverse;
        align-items: center;
    }
}
